.icon {
    &--add {
        content: url("../../icons/add-icon.svg");
    }

    &--edit {
        content: url("../../icons/edit-icon.svg");
    }

    &--delete {
        content: url("../../icons/delete-icon.svg");
    }

    &--back {
        content: url("../../icons/back-icon.svg");
    }

    &--lg {
        width: 64px;
        height: auto;
    }
}