.icon {
    --primary-color: #B90445;

    cursor: pointer;

    &--add {
        content: url("../../icons/add-icon.svg");
    }

    &:hover {
        fill: var(--primary-color);
    }

    &--lg {
        width: 64px;
        height: auto;
    }
}